body{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 95vh;
    /* height: 100%; */
    /* margin:0%; */
    /* background-color: red; */
    background-image: url("/Airline-Reservation-System/Login/assets/plane2.avif");
    background-repeat: no-repeat;
    background-size:cover;
}

#Box{
    border: 0px solid black;
    border-radius: 8px;
    height: 60vh;
    width:  300px;
    /* max-width: 300px; */
    background-color: rgba(34, 127, 248, 0.363);
    /* opacity: 0.5; */
    /* background-color: ; */
    /* transform: 5s ; */

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    padding: 2rem;
    
    box-shadow: 5px 10px 18px #888888;
}

h1{
    text-align: center;
    margin: 0rem 0rem;
}

button{
    background-color: black;
    color: white;
    opacity: 1;
    padding: 0.5rem;
    /* align-items: center; */
    border-radius: 1rem;
    margin:0px;
    margin-top: 1rem;
}

button#signinBtn{
    background-color: white;
    color: black;
}

button img{
    height: 0.9rem;
    /* vertical-align: middle; */
}

label{
    display: none;
}

#subpassword{
    display: flex;
    justify-content: space-between;
}

#subpassword label{
    display:block;
}

#subpassword div{
    display:flex;
    justify-content: flex-end;
}

.input{
    padding:0.2rem;
    padding-left: 1.5rem;
    background-color: transparent;
    /* margin: 0.7rem 2rem; */
    margin: 0.7rem 0rem;
    background-size: 1rem 1rem;
    background-position: 3px 3px;
    border-width: 0px 0px 2px 0px;
}

#email{
    background-image: url("/Airline-Reservation-System/Login/assets/user.png");
    background-repeat: no-repeat;
}

#password{
    background-image: url("/Airline-Reservation-System/Login/assets/padlock.png");
    background-repeat: no-repeat;
}

#submitBtn{
    margin-top: 1rem;
}

#divider{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#divider::before,
#divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
#divider:not(:empty)::before {
    margin-right: .25em;
}
#divider:not(:empty)::after {
    margin-left: .25em;
}
